@import "../../_variables.scss";
.rightContainer{
    background-color: $dark-blue;
    grid-area: rc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: white;
    border-radius: .8em;
    box-shadow: 5px 5px 20px black;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 0px;

}
.codeContainer{
    background-color: white; 
    border: none;
    width: 99%;
    height: 99%;   
    color: $lighter-orange;
    outline: none;
    border-radius: .8em;
}
.codeContainer:focus{
    background-color: $dark-blue;
    border: none;
}