.titleBtn {
    background-color: orange;
    border: 1px solid;
    border-radius: 1em;
    width: 50vw
    
}
.titleContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: pink;
}